header {
    height: 3em; //em = taille de la font dans l'élément ou l'élément parent si font-size non définit
    background-color: #eee; // 3 lettres identique fait un gris Html permet d'ecrire que 3 lettres si toutes les lettres sont identique
}

img {
    height: 2.5em;
}